<div class="card" style="border-radius:20px;">  
  <div class="row mb-5">
    <div class="col-12">
      <div class="card-img-top">
        <%if blog&.image.attached? %>
          <%= link_to blog_path(blog) do %>
            <%= image_tag(blog.image, style: "width: 100%; height: 20%; object-fit: fill; padding: 4px; border-radius: 20px;") %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-10 mx-auto card-body">
      <h3><%= blog.title %></h3>
      <ul class="list-inline post-meta mb-4">
        <li class="list-inline-item">Author: <i class="ti-user mr-2"></i><%= blog.user.user_name %></li>
        <li class="list-inline-item">Created at: <%= blog.created_at.strftime('%B %d, %Y') %></li>
        <li class="list-inline-item">Categories: <%= blog.categories.map { |category| link_to(category.name, category_path(category), style: 'color: black') }.join(', ').html_safe %></li>
      </ul>  
      <p>
        <%= truncate_words(blog.description, 500) %>
      </p>
      <div class="d-flex">
        <%= link_to "Continue Reading", blog, class: "btn btn-info btn-lg" %>
      </div>
    </div>
  </div> 
</div>
<br><br>