<div class="masthead" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>My Blog</h1>
          <span class="subheading">Blog Site</span>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section-sm border-bottom">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title-bordered mb-5 d-flex align-items-center">
          <ul class="list-inline social-icons ml-auto mr-3 d-none d-sm-block">
            <li class="list-inline-item">
              <% if user_signed_in? %>
                <% if current_user.payment_status == 'not_paid' %>
                  <%= "Want to add a blog?" %>
                  <%= button_to "To Stripe", stripe_index_path, class: "btn btn-info btn-lg", style: "margin-left: 30px;", data: { turbo: false } %>
                <% elsif current_user.payment_status == 'paid' %>
                  <%= link_to "New Blog", new_blog_path, class: "btn btn-info btn-lg btn-block" %>
                <% else %>
                  <%= "Unknown payment status. Contact support for assistance." %>
                <% end %>
              <% else %>
                <%= "Please sign in to add blog" %>
                <%= link_to "Sign In", new_user_session_path, class: "btn btn-info btn-lg" %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
  </div>
</section>

<div class= "container rounded">
  <h1 class="text-center mb-4 mt-3">Blogs</h1>
  <ul>
    <% @blogs.each do |blog| %>
      <%= render blog  %>
    <% end %>
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
      <%== pagy_nav_bootstrap(@pagy) %>
  </ul>
    </nav>
  </ul>
  
</div>