


<%
=begin%>
 <p><strong><%= comment.user.username %></strong>: <%= comment.body %></p>
<%= render partial: 'comments/comment', collection: comment.replies %>
<%= render 'comments/new', commentable: comment, comment: Comment.new %> 
<%
=end%>



<%
=begin%>
 <div class="card w-100">
  <div class="card-body p-4">
    <div class="">
      <h5 class= "card-title"><%= parent_comment.user.user_name %></h5>
      <p class="small"><%= time_ago_in_words(parent_comment.created_at) %></p>
      <p><%= parent_comment.body %> </p>
      <% if parent_comment.user_id == current_user.id || parent_comment.blog.user_id == current_user.id %>
        <%= link_to 'Delete', blog_comment_path(@blog, parent_comment), data: { turbo_method: :delete, turbo_confirm: "Are you sure" }, class: 'btn btn-danger' %>
      <% end %>
      <a href="#" class="comment-form-display btn btn-primary m-3 p-2">reply</a>
      <div class="comment-form" style="display: none;" >
        <%= render partial: 'comments/new', locals: {comment: parent_comment, parent_id: parent_comment&.id}%>
      </div> 
      <!-- Nested loop for child comments -->
      <% parent_comment.comments.each do |child_comment| %>
        <%= render partial:"comments/comment" , locals: { comment:child_comment, parent_comment: child_comment }%>
      <% end %>
    </div>
  </div>
</div>   
<%
=end%>


<%
=begin%>
 
<script>
  document.querySelectorAll('.comment-form-display').forEach((el) => {
    el.addEventListener('click', (ev) => {
      ev.preventDefault();
      el.nextElementSibling.style.display = 'block';
    });
  });
</script>  
<%
=end%>

<%
=begin%>
 
 <div class="row">
  <div class="col">
    <div class="d-flex flex-start">
      <div class="flex-grow-1 flex-shrink-1">
        <div>
          <div class="d-flex justify-content-between align-items-center">
            <p class="mb-1"> <%= parent_comment.user.user_name %> <span class="small">-<%= time_ago_in_words(parent_comment.created_at) %></span></p>
            <a href="#" class="comment-form-display btn btn-primary">reply</a>
            <div class="comment-form" style="display: none;" >
              <%= render partial: 'comments/new', locals: {comment: parent_comment, parent_id: parent_comment&.id}%>
            </div>
          </div>         
          <p class="small mb-0"> <%= parent_comment.body %> </p>
          <% if parent_comment.user_id == current_user.id || parent_comment.blog.user_id == current_user.id %>
            <%= link_to 'Delete', blog_comment_path(@blog, parent_comment), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-danger' %>
          <% end %>
        </div>
        <div class="d-flex flex-start mt-4">
          <div class="flex-grow-1 flex-shrink-1">
            <div>
              <div class="d-flex justify-content-between align-items-center">
                <% parent_comment.comments.each do |child_comment| %>
                  <%= render partial:"comments/comment" , locals: { comment:child_comment, parent_comment: child_comment }%>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
 
<%
=end%>
