<section>
  <% @comments.each do |comment| %> 
    <div class="container-md text-dark">
      <div class="row d-flex justify-content-center">
        <div class="col-md-11 col-lg-9 col-xl-7">
          <div class="d-flex flex-start mb-4">
            <div class="card w-100">
              <div class="card-body p-4">
                <div class="">
                  <h5 class= "card-title"><%= comment.user.user_name %></h5>
                  <p class="small"><%= time_ago_in_words(comment.created_at) %></p>
                  <p><%= comment.body %> </p>
                  <%# if current_user.has_role? :admin || comment.user_id == current_user.id %>
                  <%# if comment.user_id == current_user.id || comment.blog.user_id == current_user.id %>
                  <%# if comment.user_id == current_user.id || (comment.commentable_type == "Blog" && comment.commentable.user_id == current_user.id) %>  
                    <%= link_to 'Delete', blog_comment_path(@blog, comment), data: { turbo_method: :delete, turbo_confirm: "Are you sure" }, class: 'btn btn-danger' %>
                  <%# end %>
                  <a href="#" class="comment-form-display btn btn-primary m-3 p-2">reply</a>
                  <div class="comment-form" style="display: none;" >
                    <%= render partial: 'comments/new' , locals: {commentable: comment}%>
                  </div> 
                  <% if comment.comments.any? %>
                    <% comment.comments.each do |nested_comment| %>                    
                      <div class="card ml-5 mb-2">
                        <div class="card-body">
                          <h5 class= "card-title"><%= nested_comment.user&.user_name %></h5>
                          <p class="small"><%= time_ago_in_words(nested_comment.created_at) if nested_comment.created_at %></p>
                          <p><%= nested_comment.body %> </p>
                          <%= link_to 'Delete', blog_comment_path( comment, nested_comment), data: { turbo_method: :delete, turbo_confirm: "Are you sure" }, class: 'btn btn-danger' %>
                        </div>
                      </div>                  
                    <% end %>
                  <% end %>  
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>

 

<script>
  document.querySelectorAll('.comment-form-display').forEach((el) => {
    el.addEventListener('click', (ev) => {
      ev.preventDefault();
      const commentForm = el.nextElementSibling;
      commentForm.style.display = (commentForm.style.display === 'block') ? 'none' : 'block';
    });
  });
</script>

