<div style= "background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
<h1 class="text-center"><%= pluralize(@blog.count, "Result") %></h1>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= sort_link(@query, :title, "Title", default_order: :asc , style: "color :black") %></th>
        <th><%= sort_link(@query, :description, "Blogs description" , style: "color :black") %></th>
      </tr>
    </thead>
    <tbody>
      <% @blog.each do |blog| %>
        <tr>
          <td><%= link_to blog.title, blog , style: "color :black"%></td>
          <td><%= truncate_words(blog.description, 20) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>