<%
=begin%>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Blogs", blogs_path, class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto">
      <% if current_user %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.user_name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Your Blogs", current_user_blogs_blogs_path, class: "dropdown-item" %>
            <%= link_to "Edit Account", edit_user_registration_path, class:"dropdown-item" %>
            <div class="dropdown-divider"></div>
              <%= button_to "logout", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
            </div>
        </li>
        <%= render 'search/form' %>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign in", new_user_session_path, class:"nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav> 
<%
=end%>

<%
=begin%>
 <nav class="navbar navbar-expand-lg navbar-light bg-light my-custom-bootstrap-font",>
  <!-- Brand/logo -->
  <%= link_to "Blogs", blogs_path, class: "navbar-brand" %>

  <!-- Toggler/collapsible Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto" > <!-- ml-auto will push the nav to the right -->
      <% if current_user %>
        <!-- Dropdown for current user -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.user_name %>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink"> <!-- dropdown-menu-right will align the dropdown menu to the right -->
            <%= link_to 'My Profile', users_show_path , class: "dropdown-item" %> 
            <%#= link_to "Your Blogs", current_user_blogs_blogs_path, class: "dropdown-item" %>
            <%= link_to "Edit Account", edit_user_registration_path, class: "dropdown-item" %>
            <%#= button_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <%= link_to "Sign Out", destroy_user_session_path, data: { "turbo-method": :delete }, class: "dropdown-item" %>
          </div>
        </li>
        <!-- Search form -->
        <%= render 'search/form', class: 'form-inline my-2 my-lg-0' %>
      <% else %>
        <!-- Sign up link -->
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
        </li>
        <!-- Sign in link -->
        <li class="nav-item">
          <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav> 
<%
=end%>



<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "Blogs", blogs_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if current_user %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.user_name %> (<%= current_user.roles.pluck(:name).join(', ') %>)
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink"> <!-- dropdown-menu-right will align the dropdown menu to the right -->
              <%= link_to 'My Profile', users_show_path , class: "dropdown-item" %> 
              <%#= link_to "Your Blogs", current_user_blogs_blogs_path, class: "dropdown-item" %>
              <%= link_to "Edit Account", edit_user_registration_path, class: "dropdown-item" %>
              <%#= button_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              <%= link_to "Sign Out", destroy_user_session_path, data: { "turbo-method": :delete }, class: "dropdown-item" %>
            </div>
          </li>
        </ul>
      </div>
      <%= render 'search/form', class: 'form-inline my-2 my-lg-0' %>
      <% else %>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">  
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
          </li>
        </ul> 
        <%= render 'search/form', class: 'form-inline my-2 my-lg-0' %>
    <% end %>
  </div>
</nav>
