<%
=begin%>
 <div class="login d-flex justify-content-center ">
  <div class="card w-50">
    <div class="card-block">
      <div class="d-flex justify-content-center ">
        <h2>Log in</h2>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="form-group">
          <%= f.submit "Log in", class: 'btn btn-primary' %>
        </div>
      <% end %>

      <div class="auth-links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div> 
<%
=end%>

<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-black">

        <div class="px-5 ms-xl-4">
          <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
          <span class="h1 fw-bold mb-0">MyBlog</span>
        </div>

        <div class="align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5 mr-5">

          <%= form_for(resource, as: resource_name, url: session_path(resource_name), style: 'width: 23rem;') do |f| %>

            <h3 class="fw-normal mb-3 pb-3">Log in</h3>

            <div class="form-outline mb-4">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, class: 'form-control'%>
            </div>

            <div class="form-outline mb-4">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
            </div>

            <div class="d-flex justify-content-between">
              <div class="">
                <%= f.submit "Log in", class: 'btn btn-info btn-lg' %>
              </div>
              <div class="">
                <%= render "devise/shared/links" %>
              </div>
            </div>
          <% end %>

        </div>

      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEkzPUIsEkyYEGgDwpjqzOJBUUehzJ22hCQfP3Frc6UCRlQVvU5QbGExrtjo7eT2ZCepM&usqp=CAU', alt: 'Login image', class: 'w-100 vh-100', style: 'object-fit: cover; object-position: left;' %>
      </div>
    </div>
  </div>
</section>
